@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rethink Sans", serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4e7281;
  min-height: 100vh;
}

.chat-container {
  position: relative;
  width: 340px;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-details i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 20px;
  color: darkslategray;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.header-details i:hover {
  background-color: #eef3f7;
}

.header-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header-text {
  font-size: 14px;
}

.header-text h3 {
  color: darkslategray;
}

.header-text span {
  color: #b1b1b1;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 2px;
}

.header-btn button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #a334e4;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.3s;
}

.header-btn button:hover {
  background-color: #eef3f7;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 10px;
}

.chat-body .second-user {
  align-items: flex-end;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.message .message-time {
  font-size: 13px;
  font-weight: 600;
  color: #b1b1b1;
}

.chat-body .message .message-text {
  padding: 12px;
  width: max-content;
}

.chat-body .first-user .message-text {
  background-color: #f0f6fa;
  color: darkslategray;
  border-radius: 20px 20px 20px 0;
}

.chat-body .second-user .message-text {
  background-color: #3eb2f5;
  color: white;
  border-radius: 20px 20px 0 20px;
}

.chat-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.chat-field i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.chat-field > i {
  background-color: #a334e4;
  transition: 0.3s;
}

.chat-field > i.active {
  transform: rotate(135deg);
}

.chat-field .input {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 50px;
  background-color: #eef3f7;
}

.chat-field .input i {
  background-color: #3eb2f5;
}

.chat-field .input input {
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding-inline: 20px;
  background-color: transparent;
}

.chat-field .attach-file {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  top: -80px;
  left: 5px;
  z-index: -1;
  opacity: 0;
  display: flex;
  padding: 10px;
  transition: 0.3s;
}

.chat-field .attach-file.active {
  top: -150px;
  opacity: 1;
}

.chat-field .attach-file i {
  color: #a334e4;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  transition: 0.3s;
}

.chat-field .attach-file i:hover{
  background-color: #eef3f7;
}
